#figgie-field {
  background-color: lightgreen;
}

#figgie-hand {
  background: lightblue;
}

.hand-container {
  background: lightcoral;
}

.field-market {
  background: lightsalmon;
}

.suit-market {
  background: lightgray;
  margin: 10px;
  box-shadow: inset 0px 0px 10px gray;
}

.legend-marker {
  font-size: 1em;
}

.suit-marker {
  font-size: 2em;
}