

#figgie {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  width: 100%;
  height: 100%;
  --card-height: 88px;
  --card-width: 63px;
  --card-container-size: 8px;
}

@media (max-width: 670px) {
  #figgie {
  --card-height: 66px;
  --card-width: 47px;
  --card-container-size: 6px;
  }
}

#figgie-field {
  flex: auto;
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
}

.field-hand {
  flex: none;
  display: flex;
  flex-flow: column nowrap;
  height: 50%;
  align-self: center;
}

.market-hand { 
  flex: none;
  display: flex;
  flex-flow: row nowrap;
  width: 50%;
  align-self: center;
}

.hand-container {
  flex: auto;
}

.market-hand .hand-container {
  height: calc(var(--card-height) / 1.8);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.field-hand .hand-container {
  width: calc(var(--card-height) / 1.4);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}


.field-market {
  flex: auto;
  display: flex;
  flex-flow: column nowrap;
}


#market {
  flex: auto;
  display: flex;
  flex-flow: column wrap;
  /* border-width: 5px; */
}

.suit-market-container {
  flex: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.suit-market {
  flex: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.suit-marker {
  width: calc(var(--card-container-size)*5);
  flex: none;
}

.market-podium {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.buy-podium,
.sell-podium {
  flex: none;
  display: flex;
  flex-flow: row nowrap;
  position: relative;
}

.legend-marker {
  flex: none;
}

.sell-podium .legend-marker {
  align-self: flex-start;
}

.buy-podium .legend-marker {
  align-self: flex-end;
}

.market-container {
  flex: none;
  min-width: calc(var(--card-container-size) + var(--card-width));
  min-height: calc(var(--card-container-size) + var(--card-height));
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.market-container::before {
  position: absolute;
  left: 0;
  content: "$" attr(price);
}



#figgie-hand {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: var(--card-height);
}

.suit-container {
  flex: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.suit-container-spacer {
  flex: auto;
}

.suit-container-super-spacer {
  flex: auto;
}

@media (min-width: 820px) {
  .suit-container-super-spacer {
    flex: 4 1 auto;
  }  
}

.stack {

}

.stack::before {
  content: "$" attr(money);
}


#cash {
  position: absolute;
  margin: auto;
  visibility: hidden;
}

#cash.visible {
  visibility: visible;
}