#figgie {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  width: 100%;
  height: 100%;
  --card-height: 88px;
  --card-width: 63px;
  --card-container-size: 8px;
}

#figgie-field {
  flex: auto;
  display: flex;
  flex-flow: row nowrap;
}

.field-hand {
  flex: none;
  display: flex;
  flex-flow: column nowrap;
}

.market-hand { 
  flex: none;
  display: flex;
  flex-flow: row nowrap;
  width: 50%;
  align-self: center;
}

.hand-container {
  flex: auto;
}

.market-hand .hand-container {
  height: calc(var(--card-height) / 1.8);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.field-hand .hand-container {
  width: calc(var(--card-height) / 1.4);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}


.field-market {
  flex: auto;
  display: flex;
  flex-flow: column nowrap;
}


#market {
  flex: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.half-market {
  flex: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.suit-market {
  flex: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.market-marker {
  flex: none;
}

.market-details {
  flex: auto;
  display: flex;
  flex-flow: row nowrap;
}

.market-container {
  flex: auto;
  min-width: var(--card-width);
  min-height: var(--card-height);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.market-prices {
  flex: auto;
  display: flex;
  flex-flow: column nowrap;
}


#figgie-hand {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: var(--card-height);
}

.suit-container {
  flex: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.suit-container-spacer {
  flex: auto;
}

