#figgie-field {
  background-color: lightgreen;
}

#figgie-hand {
  background: lightblue;
}

.hand-container {
  background: lightcoral;
}

.field-market {
  background: lightsalmon;
}

.suit-market {
  background: lightgray;
}

