#figgie {
  -webkkit-perspective: 2000px;
  perspective: 2000px;
  
  -webkit-perspective-origin: 50% 110%;
  perspective-origin: 50% 110%;

  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card-container,
.card,
.card-front,
.card-back {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.card-front,
.card-back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}


.card-front {
  transform: rotateY( 0deg );
  -webkit-transform: rotateY( 0deg );
}
.card-back {
  transform: rotateY( 180deg ) translateZ( -1px );
  -webkit-transform: rotateY( 180deg ) translateZ( -1px );
}


.card {
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: twirl;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: twirl;
/* 
  transform-origin: right center;
  -webkit-transform-origin: right center; */
}


@keyframes twirl {
  from {
    transform: rotateX( 30deg ) rotateY( 0deg );
    -webkit-transform: rotateX( 30deg ) rotateY( 0deg );
  }

  50% {
    transform: rotateX( 30deg ) rotateY( 180deg );
    -webkit-transform: rotateX( 30deg ) rotateY( 180deg );
  }


  to {
    transform: rotateX( 30deg ) rotateY( 359deg );
    -webkit-transform: rotateX( 30deg ) rotateY( 359deg );
  }
}

