
.card-container,
.card,
.card-front,
.card-back {
  transform-style: preserve-3d;
  will-change: transform;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card-back {
  transform: rotateY( 180deg );
}