/* card-layout.css */

.card-container,
.card,
.card-front,
.card-back {
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.card-container {
  flex: none;
  height: 8px;
  width: 8px;
  position: relative;
}

.card-front,
.card-back {
  position: absolute;
  height: 100%;
  width: 100%;
}

.card {
  position: absolute;
  height: 88px;
  width: 63px;
  transform: translate3d(-50%, calc(-50% + 4px), 0);
}

.field-hand .card {
  transform: rotateY( 180deg ) rotate( 90deg ) translate3d( -50%, -50%, -2px ) ;
}

.card-front {

}

.card-back {

}