/* card-layout.css */


/* temp */

#figgie {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

/* temp */

.card-container {
  flex: none;
  height: 88px;
  width: 63px;
  position: relative;
}

.card,
.card-front,
.card-back {
  position: absolute;
  height: 100%;
  width: 100%;
}

.card {
}

.card-front {
}

.card-back {

}