/* card-layout.css */

/* temp */

.card-container {
  flex: none;
  height: 88px;
  width: 0px;
  position: relative;
}

.card,
.card-front,
.card-back {
  position: absolute;
  height: 100%;
  width: 100%;
}

.card {
  width: 63px;
  transform: translateX(-50%);
}

.card-front {
}

.card-back {

}